name: Copy File Demo

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy file
        uses: canastro/copy-action@0.0.2
        with:
          source: D:/DevOps-Training/folder1/test.txt
          target: D:/DevOps-Training/folder2
